.landing__top{
  background-color: aqua;
  height: 10vh;
}

.landing__navbar{
  background-color: lightgreen;
  height: 10vh;
}

.landing__body{
  background-color: lightpink;
  height: 70vh;
}

.landing__lowerbody{
  background-color: lightgoldenrodyellow;
  height: 10vh;
}